<h2><%= t(:password_forgot) %></h2>
<%= t(:password_forgot_message) %>
<br /><br />
<%= form_for :user, :url => resetpassword_path do |f| %>
	<input name='userlogin' class='userlogin' />
	<%= f.text_field :login %>
	<%= f.submit t(:submit) %>
<% end %>
<script type="text/javascript">
	document.getElementById('user_login').focus();
</script>