<% if @valid_link %>
  <h2><%= t(:password_new) %></h2>
  <%= form_for @user, :url => { :controller => 'users', :action => 'change_password', :id => @user.id } do |f| %>
    <%= error_messages_for 'user', :header_message => t(:try_again), :message => t(:password_new_error) %>
    <input name='userlogin' class='userlogin' />
    <table class="bigtable">
      <tr>
        <td class="left">
          <div class="vcenter"><%= f.label :password %></div>
        </td>
        <td class="right">
          <%= f.password_field :password %>
          <br />
          <%= t(:password_new_choose) %>
        </td>
      <tr>
        <td class="left">
          <%= f.label :password_confirmation, raw(t(:password_confirmation)) %>
        </td>
        <td class="right">
          <%= f.password_field :password_confirmation %>
          <br />
          <%= t(:password_new_confirmation) %>
        </td>
      </tr>
      <tr>
        <td class="left"></td>
        <td class="right"><%= f.submit t(:submit) %></td>
      </tr>
    </table>
  <% end %>
<% else %>
  <%= t(:password_link_expired) %>
<% end %>

