<h2><%= t(:account_info) %></h2>

<%= link_to t(:account_edit), edit_account_path %>

<br /><br />

<table class="table_no_header">
	<tr>
		<td class="left"><%= t(:userid) %></td>
		<td><%= @user.login %></td>
	</tr>
	<tr>
		<td class="left"><%= t(:email) %></td>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<td class="left"><%= t(:time_zone) %></td>
		<td><%= @user.time_zone %></td>
	</tr>
</table>
