<div class="row">
  <div class="col-sm-6 col-xs-12">

    <h4 class="breadcrumb"><%= t(:password_new) %></h4>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label"><%= t(:password) %></label>
        <div class="col-sm-8 col-xs-6"><%= f.password_field :password, :autofocus => true, :class => 'form-control' %></div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label"><%= t(:password_confirmation) %></label>
        <div class="col-sm-8 col-xs-6"><%= f.password_field :password_confirmation, :class => 'form-control' %></div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label"></label>
        <div class="col-sm-8"><p class="form-control-static"><%= f.submit t(:password_change), :class => 'btn btn-primary' %></p></div>
      </div>

    <% end %>
  </div>
</div>

