<div class="FL">
  <h3><%= t(:api_key_write) %></h3>
  <code class="large"><%= @write_key %></code>
  <br><br>

  <%= button_to t(:api_key_write_new), channel_api_keys_path(@channel, :write => 1), :data => { :confirm => t(:confirm_new_api_key) }, class: 'btn btn-warning btn-sm' %>

  <br><br>

  <h3><%= t(:api_key_read) %></h3>
  <% @read_keys.each do |read_key| %>
      <table>
        <tr>
          <td><%= t(:api_key_key) %>:</td>
          <td><code class="large"><%= read_key %></code></td>
        </tr>
        <tr>
          <td class="VAT"><%= t(:note) %>:</td>
          <td>
            <%= form_for read_key, :as => :api_key, :url => channel_api_key_path(@channel, read_key), :html => {:method => 'put'} do |f| %>
            <%= f.text_area :note, :cols => 30, :rows => 4 %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="FL"><%= f.submit t(:note_save), class: 'btn btn-primary btn-sm btn-margin' %></div>
            <% end %>
            <%= button_to t(:api_key_delete), channel_api_key_path(@channel, read_key), :method => 'delete', :data => { :confirm => t(:confirm_read_key_delete) }, class: 'btn btn-danger btn-sm btn-margin' %></td>
        </tr>
      </table>
      <br><br>

  <% end %>

  <%= button_to t(:api_key_read_new), channel_api_keys_path(@channel, :write => 0), class: 'btn btn-warning btn-sm' %>
  <br>
</div>
<div id="sidebar_old">
  <ul>
    <li>
      <div class="helplink">(<a target="_blank" href="/docs/channels#api_keys"><%= t(:help_options) %></a>)</div>
      <h2><%= t(:help) %></h2>
      <%= t(:help_channel_write_key) %>
      <br><br>
      <%= t(:help_channel_read_key) %>
      <br><br>
      <%= t(:help_channel_read_key_note) %>
    </li>
  </ul>
</div>

