<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= t(:password_reset_message1) %>
      <br>
      <%= t(:password_reset_message2) %>
      <br>
      <%= t(:password_reset_message3) %>
      <br><br>
      <a href="<%= @webpage %>"><%= @webpage %></a>
    </p>
  </body>
</html>